*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #f7f7f7;
}
.listaNav a:hover {
    color: #2AE0F9;
}
/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Titulo*/
.title{
    font-weight: bold;
    text-decoration: none;
    font-size: 32px;
    font-style: italic;
    width: 370px;
    color: white;
    text-align: center;
    background-color: #191736;
    margin: 30px;
    padding: 20px;
    border-radius: 50px;
}
/* Animaciones */
.title:hover {
    color: #2AE0F9;
    transform: skew(-5deg);
    transition: .7s;
}
/*Barra de navegacion */
.navbar {
    width: 100%;
}
/*Banner */
.imgBanner img {
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin: 15px 0px;
    box-shadow: #383838 -7px 7px 20px 0px;
}
/*logos de marcas */
.logoCard img {
    margin: 10px auto;
    height:auto;
    width:160px;
    border-radius: 10px;
    box-shadow: #383838 -7px 7px 20px 0px;
}
fieldset {
    padding: 100px;
    margin: 100px;
}
/* Grid Productos*/
.container-productos img {
    margin: 30px auto;
    height: 150px;
    width: 160px;
    box-shadow: #dddada -7px 7px 20px 0px;
}
.main-productos {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-productos img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}
/* Ofertas */
.text-off {
    color: red;
    text-align: center;
    margin: 45px auto;
    font-weight: bold;
    font-size: 20px;
}
.ofertas {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ofertas img {
    margin: 20px auto;
    height: 160px;
    width: 170px;
    box-shadow: #dddada -7px 7px 20px 0px;
}
.ofertas img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}
.us {
    min-height: 70vh;
}
/* Pie de pagina*/
footer {
    background-color: #191736;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: white;
    padding: 0px 20px;
}
.redes {
    display: flex;
    align-items: center;
    gap: 25px;
}
.redes img {
    justify-content: space-between;
}
/* Modificacion del bootstrap*/
.navbar {
    padding: 20px;
}
.color-nav {
    background-color: #191736;
}
.navbar-nav .nav-item .nav-link {
    color: white ; 
    margin: 0 20px;
}
.navbar-nav .nav-item a:hover {
    color:#2AE0F9
}
/* Media querys*/   
@media (max-width: 768px) {
    .logoCard img {
        height:auto;
        width:140px;
    }
    .title {
        display: none;
    }
    /*HTML inicio*/
    .listaNav {
        flex-direction: column;
        padding: 5px ;
        gap: 5px;
    }
    .logos img {
        height: auto;
        width: 100px;
    }
    .redes {
        gap:8px;
    }
    /*HTML productos*/
    .container-productos img {
        height: 200px;
        width: 220px;
    }
    /*HTML ofertas*/
    .ofertas img {
        height: 180px;
        width: 210px;
    }
}
@media (max-width:540px) {
    /*HTML inicio*/
    .title {
        width: 180px;
        font-size: 18px;
    }
    .listaNav li a{
        font-size: 12px;
    }
    .logos img {
        height: auto;
        width: 150px;
    }
    footer {
        font-size: 8px;
    }
    /*HTML productos*/
    .container-productos img {
        height: 170px;
        width: 180px;
    }
    /*HTML ofertas*/
    .ofertas img {
        height: 160px;
        width: 180px;
    }
    /*HTML contacto*/
    fieldset {
        padding: 20px;
        margin: 20px;
    }    
}

